main-navbar# ul li {
  float: left;
  color: #ffffff;
  padding: 10px 20px;
    list-style-type: none;
  text-decoration: none; 
}


nav#main-navbar{
  position:relative;
  background-color: blue;
  overflow: hidden;
  width: 100%;
  margin:0;
  padding:0;
  display: block; 
}
 
div#navbar-container{
  position: relative;
  display: block; 
}


.sidebar{

}

.sidebar-container{

}
