#main-navbar{

  background-color: blue;
  overflow: hidden;
  width: 100%;
  margin:0;
  padding:0;
  display: block; 
}


#main-navbar ul{
 list-style-type: none;
 margin:0;
 padding:0;

}

#main-navbar ul li{
 float:left;
 padding: 10px 20px; 

}


#main-navbar a{
color: #fff;
 text-decoration: none;

}
 
#navbar-container{
  position: relative;
  display: block; 
   left:50%;
}

