ul{
  list-style-type: none;
  padding: 10px 20px;
  text-decoration: none; 
  text-decoration: underline overline;
}

nav#main-navbar{
  position:relative;
  background-color: blue;
  overflow: hidden;
  float: left;
  width: 100%;
  margin:0;
  padding:0;
  display: block; 
  background-color: #000; 
}
 
div#navbar-container{
  float:left;
  position: relative;
  left: 50%; 
  display: block; 
}

.onpage{
  float:left;
  position: relative;
  right: 50%;
}

.sidebar{

}

.sidebar-container{

}
